<h1>{{Name}} {{Name1}}</h1>
<p>Welcome to {{Name}} {{Name1}}</p>

<form method="post" action="/submithello">
    first:<br>
    <input name="first" type="text"><br>
    second:<br>
    <input name="second" type="text">
    <input type="submit" name="submit">
</form>